body { 
    background-color: rgb(184, 181, 181);
    font-style: Georgia, Times New Roman, Times, serif;
    font-size: 14px;
    margin: 0px;
    width: 100%;
}

#header {
    background-color: rgb(235, 247, 245);
    height: 80px;
    margin: 0px;
    min-width: 100%;
}

.container {
    padding: 20px 0px 0px 200px;
}

#absoluteHeader {
    width: 200px;
    height: 80px;
    margin: -100px 0px 0px 0px;
    background: teal;
    position: absolute;
    text-align: center;
    color: white;
}

h1 {
    padding: 10px 10px 30px 10px;
    font-size: 24px;
}

h2 {
    color: teal;
    font-size: 24px;
}

hr {
    padding: 0px 30px 0px 30px;
}

#nav {
    margin: 0px 50px 0px 0px;
    float: right;
    font-style: Georgia, Times New Roman, Times, serif;
    font-size: 20px;   
}

.active {
    display: inline;
    float:left;
    padding: 30px 10px 30px 10px;
    margin: 0px 0px 30px 0px;
}

a {
    text-decoration: none;
    color: gray;
}

.main {
    background-color: #e5e4d9;
    margin: 20px 0px 20px 0px;
    width: 960px;
    height: 700px;
    padding: 10px 30px 0px 30px;
    position: relative;
}
    

.main-bio {
    margin: 20px;
}
/* main image 
#bio-image {
    float: left;
    width: 200px;
    padding: 10px 30px 10px 0px;
}
*/ 
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: gray;
    width: 300px;
    vertical-align: text-top;
}


input[type=text], select, textarea, #subject {
    width: 100%; 
    padding: 20px; 
    border: 1px solid white; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: rgb(67, 169, 201);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: rgb(67, 169, 201);
}


.contactDiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: -20px 20px 20px 20px;
    width: 90%;
    float: center;
    list-style-type: none;
    position: absolute;
    
}

.contact {
    padding: 0px 20px 0px 20px;
    position: absolute; 
}

footer {
    text-align: center;
    background-color: slategrey;
    color: white;
    height: 100px;
    vertical-align: text-bottom;
    border-top: 5px solid teal;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

#textbox {
    height: 200px;
}

@media only screen and (max-width: 1220px) {
.container {
    padding: 20px 0px 0px 100px;
}
}

@media only screen and (max-width: 1100px) {
.container {
    padding: 20px 0px 0px 75px;
}

.main {
    width: 80%;
}
}

@media only screen and (max-width: 990px) {
.container {
    padding: 20px 0px 0px 50px;
}
}

@media only screen and (max-width: 768px) {

.container {
    padding: 20px 0px 0px 50px;
}

.main {    
margin: 20px -300px 20px 10px;
width: 80%;
}
}

@media only screen and (max-width: 540px) {
#header {
    background-color: rgb(235, 247, 245);
    height: 160px;